
.navbar {
    background-color: #f0f0f0;
    padding: 1em;
    width: 100%;
    display: flex; /* Usamos flexbox para alinear elementos */
    justify-content: space-between; /* Espacio entre logo y menú */
    align-items: center; /* Alinea verticalmente al centro */
  }
  
  .navbar .logo img {
    height: 50px; /* Ajusta el tamaño del logo según tus preferencias */
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px; /* Espacio entre los elementos del menú */
  }
  
  .navbar li {
    width: auto; /* Permite que los elementos ocupen su espacio natural */
    margin-right: 0;
  }
  
  .navbar a {
    color: #333; /* Color de texto más oscuro para mejor contraste */
    text-decoration: none;
    display: block;
    padding: 10px;
  }